/* Samさん担当箇所 */

/* samさん担当箇所 */


/* みち */

body{
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3","游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic","メイリオ", "Meiryo", "verdana", sans-serif;
  font-size:16px;
}

a{
  text-decoration:none;
  display:inline-block;
}

li{
  list-style:none;
}

img{
  width:100%;
  vertical-align:center;
}

.container{
  width:1140px;
  margin:0 auto;
  padding:50px 0;
}

.sec-title{
  font-size:36px;
  text-align:center;
  color:#3D71B8;
  padding-bottom:20px;
  margin-bottom:40px;
  position:relative;
}

.sec-title:before {
  position: absolute;
  bottom:0px;
  left: calc(50% - 200px);
  width: 400px;
  height:3px;
  content: '';
  background:red;
  opacity:0.8;
}



header{
  width:1140px;
  margin:0 auto;
}

.lp-top__cp{
  width:100%;
}

.worries__useful{
  font-size:24px;
  color:#fff;
  text-align:center;
  background: linear-gradient(to right, #209cff 0%, #68e0cf 100%);
  padding:50px;
  margin-bottom:50px;
  position:relative;
}

.worries__useful:before{
  content:"";
  top:0;
  left:calc(50% - 60px);
  position:absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 60px 0 60px;
  border-color:#fff transparent transparent transparent;
}

.knee__fascia{
  text-align:center;
  position: relative;
  padding: 50px;
  margin:50px 0
}

.knee__fascia__text{
  font-size:22px;
}

.knee__fascia__name{
  display:inline-block;
  padding:5px;
  font-size:46px;
  color:blue;
  background: linear-gradient(transparent 40%, yellow 0%);
}

.knee__fascia:before{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: '';
  background-image: repeating-linear-gradient(-45deg, #3D71B8, #3D71B8 1px, transparent 2px, transparent 5px);
}

.knee__fascia:after{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: '';
  background-image: repeating-linear-gradient(-45deg, #3D71B8, #3D71B8 1px, transparent 2px, transparent 5px);
}

.knee__triangle{
 margin:0 auto;
width: 0;
height: 0;
border-style: solid;
border-width: 30px 60px 0 60px;
border-color: #209cff  transparent transparent transparent;
opacity:0.8;
}

.fascia-img__images{
  display:flex;
  justify-content:space-between;
}

.fascia-img__image{
  width:28%;
  object-fit:cover;
}

.suitable__lists{
  border:solid 1px #5881C7;
  border-radius:12px;
  margin-bottom:50px;
}

.suitable__list__item{
  color:#fff; 
  border-radius:10px 10px 0 0;
  background:#5881C7;
  font-size:24px;
  padding:10px;
}

.suitable__list{
  padding:20px;
}

.suitable__list__li{
  line-height:2;
}

.fa-times{
  margin-right:20px;
  font-size:20px;
  color:red;
}

.fa-circle{
  margin-right:20px;
  font-size:20px;
  color:green;
  font-weight:bold;
}

.guidance{
  background:#3D71B8;
}

.guidance__anxiety{
  color:#fff;
  font-size:18px;
}

.profile-top,.thought-top{
  display:inline-block;
  font-size:24px;
  margin:30px auto;
  padding:10px 50px;
  color:#fff;
  position: relative;
  border: 3px solid #322e96;
  border-radius: 10px;
  background:#3D71B8;
}

.profile-top:before,.thought-top:before {
  position: absolute;
  bottom: -14px;
  left: 1em;
  width: 0;
  height: 0;
  content: '';
  border-width: 14px 12px 0 12px;
  border-style: solid;
  border-color:#322e96 transparent transparent transparent;
}

.profile-top:after,.thought-top:after{
  position: absolute;
  bottom: -10px;
  left: 1em;
  width: 0;
  height: 0;
  content: '';
  border-width: 14px 12px 0 12px;
  border-style: solid;
  border-color:#3D71B8 transparent transparent transparent;
}

.profile{
  display:flex;
  justify-content:space-between;
}

.profile__img{
  width:40%;
}

.profile__text{
  width:55%;
}

